* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9edde;
}

.container {
  margin: 5rem 0 2rem 0;
}

.vyasa {
  margin: 20px 10px 0 15px;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  text-justify: inter-word;
}

.vyasa .img-container img {
  width: 5rem;
  vertical-align: top;
}

.text-container {
  margin: 0 1em;
}

.text-container p {
  color: #333333;
  font-size: 14px;
  font-family: lato, "helvetica neue", helvetica, arial, sans-serif;
  line-height: 150%;
}

.samachar {
  margin: 1rem 1rem;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.font-bold {
  font-weight: bold;
}

.color-990000 {
  color: #990000;
}

.color-333333 {
  color: #333333;
}

.mb-11 {
  margin-bottom: 11px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-30 {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.btn {
  background-color: #990000;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  font-family: arial, "helvetica neue", helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  width: 100%;
  text-align: center;
  padding: 5px 20px;
  line-height: 150%;
  cursor: pointer;
  margin: 2px auto;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.centered {
  text-align: center;
}

/* Styles for devices with a width between 481px and 767px (landscape view) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Your styles for mobile landscape view go here */
  .container {
    margin: 0;
    padding: 0 5rem;
  }

  .text-container {
    margin: 0.5em 0 0 1em;
  }
}
